/node_modules

/public/hot
/public/storage
/public/uploads

/public/js/app.min.js
/public/css/app.min.css

/public/assets/js/app.min.js
/public/assets/css/app.min.css

/storage/*.key
/storage/logs
/storage/app/uploads

/vendor
/.idea
/.vscode
/.vagrant

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
package.json
package-lock.json
